<!DOCTYPE html>
<html>
    <head>
        <title>너의 이름은</title>
        <meta charset = "utf-8">
    </head>
    <body>
        <h1>낚인놈들</h1>
        <% @file.each_line do |line| %>
        <p><%=line%></p>
        <% end%>
    </body>
</html>